<app-landing-page></app-landing-page>


<!-- <div class="row">
  <div class="col-6">
    <div class="row justify-content-center">
      <div class="col-12 mt-5">
        <h1 class="titulo text-center">Confira Nossos serviços</h1>
      </div>
    </div>
    <div class="row justify-content-end mt-5">
      <div class="col-6">
        <div class="row">
          <div class="col">
            <div class="row">
              <div class="col-2 text-end" >
                <img src="../../../assets/images/iconServicos.svg" alt="">
              </div>
              <div class="col-10">
                <div class="row">
                  <div class="col-12">
                    <p>Orçamento <br> R$ 50,00</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-2 text-end" >
            <img src="../../../assets/images/iconServicos.svg" alt="">
          </div>
          <div class="col-10">
            <div class="row">
              <div class="col-12">
                <p>Instalação Pneu <br> R$ 50,00</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-2 text-end" >
            <img src="../../../assets/images/iconServicos.svg" alt="">
          </div>
          <div class="col-10">
            <div class="row">
              <div class="col-12">
                <p>Manuntenção em bateria <br>R$ 380,00</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-2 text-end" >
            <img src="../../../assets/images/iconServicos.svg" alt="">
          </div>
          <div class="col-10">
            <div class="row">
              <div class="col-12">
                <p>Higienização<br>R$ 30,00</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-2 text-end" >
            <img src="../../../assets/images/iconServicos.svg" alt="">
          </div>
          <div class="col-10">
            <div class="row">
              <div class="col-12">
                <p>Manuntenção Motor <br>R$ 280,00</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-2 text-end" >
            <img src="../../../assets/images/iconServicos.svg" alt="">
          </div>
          <div class="col-10">
            <div class="row">
              <div class="col-12">
                <p>Manuntenção em bike simples<br>R$ 80,00</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-2 text-end" >
            <img src="../../../assets/images/iconServicos.svg" alt="">
          </div>
          <div class="col-10">
            <div class="row">
              <div class="col-12">
                <p>Montagem  scooter <br>R$ 100,00</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-2 text-end" >
            <img src="../../../assets/images/iconServicos.svg" alt="">
          </div>
          <div class="col-10">
            <div class="row">
              <div class="col-12">
                <p>Montagem  scooter <br>R$ 100,00</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-2 text-end" >
            <img src="../../../assets/images/iconServicos.svg" alt="">
          </div>
          <div class="col-10">
            <div class="row">
              <div class="col-12">
                <p>Montagem bike <br>R$ 80,00</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-2 text-end" >
            <img src="../../../assets/images/iconServicos.svg" alt="">
          </div>
          <div class="col-10">
            <div class="row">
              <div class="col-12">
                <p>Manuntenção Motor<br>R$ 280,00</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-2 text-end" >
            <img src="../../../assets/images/iconServicos.svg" alt="">
          </div>
          <div class="col-10">
            <div class="row">
              <div class="col-12">
                <p>Frete<br>R$30,00</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-2 text-end" >
            <img src="../../../assets/images/iconServicos.svg" alt="">
          </div>
          <div class="col-10">
            <div class="row">
              <div class="col-12">
                <p>Regulagem de freios<br>R$ 30,00</p>
              </div>
            </div>
          </div>
        </div>
      </div>

  </div>
</div> -->
