<body>
  <header>
    <div class="container-fluid header">
      <div class="container-fluid text-center">
        <div class="row">
          <div class="col-sm-12 col-md-6 col-lg-12 col-xl-12 col-xxl-12">
            <h1 class="h1">Vinny Manuntenções</h1>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!--Barra de navegação  -->
  <nav class="navbar navbar-expand-lg bg-nav">
    <div class="container-fluid">
      <button class="navbar-toggler"type="button"data-bs-toggle="collapse"data-bs-target="#navbarNav"aria-controls="navbarNav"aia-expanded="false"aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-center  " id="navbarNav">
        <ul class="navbar-nav text-center">
          <li class="nav-item">
            <a class="nav-link " aria-current="page" href="#sobre">Sobre nós</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="#service">Serviços</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#home">Atendimento home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#missao">Missão</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="#tservicos">Tabela de serviços</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="#endereco">Endereço</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- primeiro container -->
  <!-- <div class="container-fluid img-fundo">
    <div class="row">
      <div class="col-sm-12 col-md-8 col-lg-8 col-xl-8 col-xxl-8">
        <h1 class="text">Desperte sua paixão pelas duas rodas!  Venha conhecer a única oficina especializada em Brasília e viva a liberdade sobre rodas! </h1>
      </div>
    </div>
  </div>
  <!-- segundo container -->
  <div class="container-fluid img-background-cont2 d-flex justify-content-center align-items-center">
   <div class="container">
    <div class="row justify-content-center">
      <div class=" colmt-5 aline-items-center bloco-transparente">
        <div class="row">
          <div class="col- mt-4 ">
            <h1 class=" text-center titulo" id="sobre">Sobre nós</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 col-md-6 col-lg-7 col-xl-7 col-xxl-7">
            <p class="titulo ">Vinny Manutenções é uma oficina especializada na manutenção e conserto de veículos elétricos, incluindo monociclos, hoverboards, skates, patinetes, bicicletas, scooters e motos elétricas. Fundada em 2017 como a primeira oficina container especializada em Brasília, a empresa se destaca como a maior referência no setor, oferecendo atendimento residencial em toda a cidade e entorno. Seu objetivo é contribuir para um mundo mais sustentável, com menos poluição e mais consciência ambiental.</p>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-5 col-xl-5 col-xxl-5  text-center">
            <img class="imagem-vinny" src="../../../assets/images/foto-vinny.svg" alt="">
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
       <div class="col-sm-12 col-md-6 col-lg-6 col-xl-12 col-xxl-12 text-center">
        <a href="https://api.whatsapp.com/send?phone=556193466888&text=Ola%20preciso%20de"><button class="button">Falar com um atendente</button></a>
       </div>
      </div>
    </div>
   </div>
  </div>
  <!--terceiro container -->
<div class="container-fluid img-background-cont3 d-flex justify-content-center align-items-center">
  <div class="container">
    <div class="row justify-content-center mt-5">
      <div class="col-sm-12 col-md-6 col-lg-10 col-xl-8 col-xxl-8 mt-5  bloco-transparente2">
         <div class="row" >
               <div class="col-12">
                   <h1 class="titulo text-center">Nossos parceiros</h1>
               </div>
               <div class="col-sm-12 col-md-6 col-lg-7 col-xl-7 col-xxl-7 mt-5 mb-5">
                   <p class="titulo">Trabalhamos com marcas renomadas como Specialized, Trek, Caloi, Orbea, Scott, Sense, Oggi, Cannondale e Santa Cruz e muito mais. Seja para bicicletas de triatlo, speed ou mountain bike, nossos técnicos são altamente qualificados para realizar desde a manutenção preventiva até reparos complexos.</p>
               </div>
               <div class="col-sm-12 col-md-6 col-lg-5 col-xl-5 col-xxl-5 text-center">
                   <img class="imagem-parceiros" src="../../../assets/images/logoParceiros.svg" alt="">
               </div>
         </div>
       </div>
       <div class="col-12 mt-4 mb-4">
         <div class="row justify-content-center">
           <div class="col-sm-12 col-md-6 col-lg-12 col-xl-12 col-xxl-12 text-center">
            <a href="https://api.whatsapp.com/send?phone=556193466888&text=Ola%20preciso%20de"><button class="button">Falar com um atendente</button></a>
           </div>
         </div>
       </div>
   </div>
  </div>
</div>
<!-- quarto container -- carrossel -->
<div class="container-fluid contain-4 ">
  <div class="row justify-content-center">
    <div class="col-sm-12 col-md-6 col-lg-8 col-xl-8 col-xxl-8 mt-5 ">
      <div id="carouselExampleIndicators mt-5" class="carousel slide">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner mt-5">
          <div class="carousel-item active">
            <img src="../../../assets/images/mountainBikeCarroussel.svg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../../assets/images/scooterCarroussel.svg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="..." class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">

      <div class="col-12 mt-5">
        <div class="row justify-content-center mb-5" id="service">

          <div class="col-6 style">
            <h3>Nosso Compromisso</h3>
            <p>Estamos dedicados a manter seu equipamento em perfeito estado, para que você possa desfrutar de cada momento, seja em trilhas desafiadoras, competições ou passeios urbanos. Pedale com confiança, sabendo que seu equipamento está nas mãos de especialistas.</p>
          </div>
          <div class="col-6 style">
            <h3>O Que Fazemos</h3>
            <p>Oferecemos uma ampla gama de serviços, desde manutenções preventivas até reparos complexos, sempre com a máxima qualidade e precisão. Nosso diferencial está na conveniência: além de atendermos em nossa oficina física, nossos técnicos podem ir até você para resolver problemas no local. Se necessário, buscamos seu equipamento, realizamos o serviço em nossa oficina e devolvemos na sua residência.</p>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<!-- quinto container - atendemos nós vamos até você -->

<div class="container-fluid" style="background-color: #1C2833;" id="home">
  <div class="row justify-content-center">
    <div class="co mt-5">
      <h1 class="titulo text-center mt-5">Atendemos onde você estiver</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-2"></div>
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 col-xxl-4 mt-5" >
      <div class="row justify-content-center">
        <div class="col-6">
         <div class="row">
            <div class="col-12">
              <p class="titulo">Sabemos que sua rotina é corrida, e é por isso que oferecemos um serviço diferenciado: nossos técnicos podem ir até você para resolver problemas no local, sempre que possível.</p>
            </div>
         </div>
         <div class="row mt-4">
            <div class="col">
              <p class="titulo">Se a complexidade do serviço exigir, levamos seu equipamento para nossa oficina e o devolvemos após a conclusão dos trabalhos. Você não precisa se preocupar com transporte.</p>
            </div>
         </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 col-xxl-4 mt-5 text-center" >
      <img src="../../../assets/images/localizacao.svg" alt="">
    </div>
    .col-2
    <div class="col-12">
      <div class="row justify-content-center mt-5">
        <div class="col-sm-12 col-md-6 col-lg-12 col-xl-12 col-xxl-12 mb-5 mt-5 text-center">
          <a href="https://api.whatsapp.com/send?phone=556193466888&text=Ola%20preciso%20de"><button class="button">Falar com um atendente</button></a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- nossa missão -->
<div class="container-fluid d-flex justify-content-center align-items-center img-background-cont5 " id="missao">
        <div class="row justify-content-center mt-4">
          <div class="col-12">
            <h1 class="text-center titulo">Nossa Missão</h1>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-10 col-xl-8 col-xxl-8  bloco-transparente3">
             <div class="row" >

                   <div class="col-sm-12 col-md-6 col-lg-7 col-xl-7 col-xxl-7 mt-5 mb-5">
                       <p class="titulo">Guiados por uma sólida ética e vasta experiência técnica elétrica, comprometendo-se a proporcionar serviços fundamentados na honestidade, técnica excepcional, transparência e eficiência. Esses valores essenciais norteiam todas as facetas do nosso trabalho, reforçando nosso compromisso inabalável com a excelência, confiança e satisfação do cliente.</p>
                   </div>
                   <div class="col-sm-12 col-md-6 col-lg-5 col-xl-5 col-xxl-5 text-center">
                       <img class="imagem-parceiros" src="../../../assets/images/alvo.svg" alt="">
                   </div>
             </div>
           </div>
           <div class="col-12">
             <div class="row justify-content-center">
               <div class="col-sm-12 col-md-6 col-lg-12 col-xl-12 col-xxl-12   text-center">
                <a href="https://api.whatsapp.com/send?phone=556193466888&text=Ola%20preciso%20de"><button class="button">Falar com um atendente</button></a>
               </div>
             </div>
           </div>
       </div>
</div>
<!-- confira nossos serviços -->
<div class="container-fluid  container-6 " id="tservicos">
  <div class="row justify-content-center">
    <div class="col-12 mt-5">
      <h1 class="titulo text-center">Confira Nossos serviços</h1>
    </div>
  </div>
  <div class="row justify-content-center">
    <!-- Primeira coluna -->
    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6 mt-5">
     <div class="row justify-content-center" >
      <div class="col-sm-12 col-md-10 col-lg-10 col-xl-10 col-xxl-10 " style="margin-left: 35rem;">
         <!-- primeiro item -->
      <div class="row">
        <div class="col">
          <div class="row">
            <div class="col-2 text-end">
              <img src="../../../assets/images/iconServicos.svg" alt="">
            </div>
            <div class="col-10">
              <div class="row">
                <div class="col-12">
                  <p>Orçamento <br> R$ 50,00</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- segundo -->
      <div class="row">
        <div class="col-2 text-end">
          <img src="../../../assets/images/iconServicos.svg" alt="">
        </div>
        <div class="col-10">
          <div class="row">
            <div class="col-12">
              <p>Instalação Pneu <br> R$ 50,00</p>
            </div>
          </div>
        </div>
      </div>
      <!-- terceiro -->
      <div class="row">
        <div class="col-2 text-end">
          <img src="../../../assets/images/iconServicos.svg" alt="">
        </div>
        <div class="col-10">
          <div class="row">
            <div class="col-12">
              <p>Manutenção em bateria <br>R$ 380,00</p>
            </div>
          </div>
        </div>
      </div>
      <!-- quarto item -->
      <div class="row">
        <div class="col-2 text-end">
          <img src="../../../assets/images/iconServicos.svg" alt="">
        </div>
        <div class="col-10">
          <div class="row">
            <div class="col-12">
              <p>Higienização<br>R$ 30,00</p>
            </div>
          </div>
        </div>
      </div>
      <!-- quinto item -->
      <div class="row">
        <div class="col-2 text-end">
          <img src="../../../assets/images/iconServicos.svg" alt="">
        </div>
        <div class="col-10">
          <div class="row">
            <div class="col-12">
              <p>Manutenção Motor <br>R$ 280,00</p>
            </div>
          </div>
        </div>
      </div>
      <!-- sexto item -->
      <div class="row">
        <div class="col-2 text-end">
          <img src="../../../assets/images/iconServicos.svg" alt="">
        </div>
        <div class="col-10">
          <div class="row">
            <div class="col-12">
              <p>Manutenção em bike simples<br>R$ 80,00</p>
            </div>
          </div>
        </div>
      </div>
      <!-- sétimo item -->
      <div class="row">
        <div class="col-2 text-end">
          <img src="../../../assets/images/iconServicos.svg" alt="">
        </div>
        <div class="col-10">
          <div class="row">
            <div class="col-12">
              <p>Montagem scooter <br>R$ 100,00</p>
            </div>
          </div>
        </div>
      </div>
      <!-- oitavo item -->
      <div class="row">
        <div class="col-2 text-end">
          <img src="../../../assets/images/iconServicos.svg" alt="">
        </div>
        <div class="col-10">
          <div class="row">
            <div class="col-12">
              <p>Montagem scooter <br>R$ 100,00</p>
            </div>
          </div>
        </div>
      </div>
      <!-- nono item -->
      <div class="row">
        <div class="col-2 text-end">
          <img src="../../../assets/images/iconServicos.svg" alt="">
        </div>
        <div class="col-10">
          <div class="row">
            <div class="col-12">
              <p>Montagem bike <br>R$ 80,00</p>
            </div>
          </div>
        </div>
      </div>
      <!-- décimo item -->
      <div class="row">
        <div class="col-2 text-end">
          <img src="../../../assets/images/iconServicos.svg" alt="">
        </div>
        <div class="col-10">
          <div class="row">
            <div class="col-12">
              <p>Manutenção Motor<br>R$ 280,00</p>
            </div>
          </div>
        </div>
      </div>
      <!-- décimo primeiro item -->
      <div class="row">
        <div class="col-2 text-end">
          <img src="../../../assets/images/iconServicos.svg" alt="">
        </div>
        <div class="col-10">
          <div class="row">
            <div class="col-12">
              <p>Frete<br>R$ 30,00</p>
            </div>
          </div>
        </div>
      </div>
      <!-- décimo segundo item -->
      <div class="row">
        <div class="col-2 text-end">
          <img src="../../../assets/images/iconServicos.svg" alt="">
        </div>
        <div class="col-10">
          <div class="row">
            <div class="col-12">
              <p>Regulagem de freios<br>R$ 30,00</p>
            </div>
          </div>
        </div>
      </div>
      </div>
     </div>
    </div>

    <!-- Segunda coluna -->
    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6 mt-5">
      <div class="row justify-content-center">
        <div class="col-sm-12 col-md-10 col-lg-10 col-xl-10 col-xxl-10">
              <!-- conteúdo semelhante ao da primeira coluna -->
      <!-- primeiro item -->
      <div class="row">
        <div class="col">
          <div class="row">
            <div class="col-2 text-end">
              <img src="../../../assets/images/iconServicos.svg" alt="">
            </div>
            <div class="col-10">
              <div class="row">
                <div class="col-12">
                  <p>Revisão Geral E-Bike <br> R$ 180,00</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- segundo -->
      <div class="row">
        <div class="col-2 text-end">
          <img src="../../../assets/images/iconServicos.svg" alt="">
        </div>
        <div class="col-10">
          <div class="row">
            <div class="col-12">
              <p>Revisão Prata Scooter <br>R$ 250,00</p>
            </div>
          </div>
        </div>
      </div>
      <!-- terceiro -->
      <div class="row">
        <div class="col-2 text-end">
          <img src="../../../assets/images/iconServicos.svg" alt="">
        </div>
        <div class="col-10">
          <div class="row">
            <div class="col-12">
              <p>Revisão Geral Patinete Bike <br>R$ 120,00</p>
            </div>
          </div>
        </div>
      </div>
      <!-- quarto item -->
      <div class="row">
        <div class="col-2 text-end">
          <img src="../../../assets/images/iconServicos.svg" alt="">
        </div>
        <div class="col-10">
          <div class="row">
            <div class="col-12">
              <p>Revisão Geral Scooter<br>R$ 450,00</p>
            </div>
          </div>
        </div>
      </div>
      <!-- quinto item -->
      <div class="row">
        <div class="col-2 text-end">
          <img src="../../../assets/images/iconServicos.svg" alt="">
        </div>
        <div class="col-10">
          <div class="row">
            <div class="col-12">
              <p>Revisão Geral Bike<br>R$ 120,00</p>
            </div>
          </div>
        </div>
      </div>
      <!-- sexto item -->
      <div class="row">
        <div class="col-2 text-end">
          <img src="../../../assets/images/iconServicos.svg" alt="">
        </div>
        <div class="col-10">
          <div class="row">
            <div class="col-12">
              <p>Sangria<br>R$ 35,00</p>
            </div>
          </div>
        </div>
      </div>
      <!-- sétimo item -->
      <div class="row">
        <div class="col-2 text-end">
          <img src="../../../assets/images/iconServicos.svg" alt="">
        </div>
        <div class="col-10">
          <div class="row">
            <div class="col-12">
              <p>Serviços Minimos Eletricos<br>R$ 50,00</p>
            </div>
          </div>
        </div>
      </div>
      <!-- oitavo item -->
      <div class="row">
        <div class="col-2 text-end">
          <img src="../../../assets/images/iconServicos.svg" alt="">
        </div>
        <div class="col-10">
          <div class="row">
            <div class="col-12">
              <p>Serviços Minimos <br>R$ 30,00</p>
            </div>
          </div>
        </div>
      </div>
      <!-- nono item -->
      <div class="row">
        <div class="col-2 text-end">
          <img src="../../../assets/images/iconServicos.svg" alt="">
        </div>
        <div class="col-10">
          <div class="row">
            <div class="col-12">
              <p>Solda peças Plastica <br>R$ 80,00</p>
            </div>
          </div>
        </div>
      </div>
      <!-- décimo item -->
      <div class="row">
        <div class="col-2 text-end">
          <img src="../../../assets/images/iconServicos.svg" alt="">
        </div>
        <div class="col-10">
          <div class="row">
            <div class="col-12">
              <p>Teste Bateria<br>R$ 80,00</p>
            </div>
          </div>
        </div>
      </div>
      <!-- décimo primeiro item -->
      <div class="row">
        <div class="col-2 text-end">
          <img src="../../../assets/images/iconServicos.svg" alt="">
        </div>
        <div class="col-10">
          <div class="row">
            <div class="col-12">
              <p>Revisão basica Bike<br>R$ 80,00</p>
            </div>
          </div>
        </div>
      </div>
      <!-- décimo segundo item -->
      <div class="row">
        <div class="col-2 text-end">
          <img src="../../../assets/images/iconServicos.svg" alt="">
        </div>
        <div class="col-10">
          <div class="row">
            <div class="col-12">
              <p>Remendo<br>R$ 15,00</p>
            </div>
          </div>
        </div>
      </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 mt-5 mb-5">
    <div class="row justify-content-center">
      <div class="col-sm-12 col-md-6 col-lg-12 col-xl-12 col-xxl-12 text-center mb-5">
        <a href="https://api.whatsapp.com/send?phone=556193466888&text=Ola%20preciso%20de"><button class="button">Falar com um atendente</button></a>
      </div>
    </div>
  </div>
</div>
<div class="container" id="endereco">
 <h1 class="text-center mt-5 mb-5" style="font-weight: 500;">Onde nos encontrar</h1>
 <div class="row text-center">
   <div class="col-sm-12 col-md-6 col-lg-12 col-xl-12 col-xxl-12">
     <div class="row justify-content-center">
       <div class="col-sm-12 col-md- col-lg-10 col-xl-8 col-xxl-10 mb-5"  >
         <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15345.485344549854!2d-48.0180289!3d-15.941973!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x935a2b8679a15c37%3A0x6629fd1d7bd81f63!2zVmlubnkgTWFudXRlbsOnw7Vlcw!5e0!3m2!1sen!2sbr!4v1723226463050!5m2!1sen!2sbr" width="800" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" ></iframe>
       </div>
     </div>
   </div>
 </div>
</div>
<div class="container-fluid footer">
  <div class="row justify-content-center" >
    <div class="col-sm-12 col-md-6 col-lg-8 col-xl-8 col-xxl-8 mt-5 mb-5 text-center">
     <div class="icons">
        <a href=""><img class="icon" src="../../../assets/images/instagram 1.svg" alt=""></a>
        <a href=""><img class="icon" src="../../../assets/images/logoWhatsapp1.svg" alt=""></a>
        <!-- <a href=""><img class="icon" src="../../../assets/images/LogoYoutube1.svg" alt=""></a> -->
        <a href=""><img class="icon" src="../../../assets/images/Gmail_icon1.svg" alt=""></a>
     </div>
    </div>
    <div class="col-12 text-center">
      <p> &reg; 2024 Vinny manuntenções <br> todos os direitos reservados- GabrielCriação de sites </p>
      <div>

      </div>
    </div>
  </div>
</div>
</body>
